<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>bootstrapcss}}
    <link rel="icon" href="favicon.png" type="image/png"/>
    <title>Tigris||Error</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col mx-auto my-auto">
                <p class="msg">
                    Wrong Register Credentials...
                </p>
                <a href="/backtohome">Back to Home</a>
            </div>
        </div>
    </div>



    {{>bootstrapjs}}
</body>
</html>