<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>bootstrapcss}}
    <link rel="stylesheet" href="styles/userregcss.css">
    <link rel="icon" href="favicon.png" type="image/png"/>
    <title>Tigris</title>
</head>
<body>
    {{>navbars}}
    <div class="container-fluid main-content-post-roomcreation">
        <p text-align="center"><b>New Room Created</b></p>
        <hr />
        <form action="/redirecthome" method="post">
        <input type="hidden" name="user" value="{{user}}" />
        <button class="btn btn-secondary form-control form-control-lg" type="submit">Back To Home</button>
        </form>
    </div>
    {{>footer}}
    {{>bootstrapjs}}
    
</body>
</html>